.Check{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 980;
    top: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6c567b;
    opacity: 0.8;
}
.image{
    width: 550px;
    height: 550px;
    max-width: 550px;
    max-height: 550px;
    object-fit:fill;
    margin-top: 40px;
}

.font{
    font-size: 3rem;
    color: black;
}

form{ /*수정필요*/
    margin-left: 10%;
    position: absolute;
    top: 3%;
    left: 20%;
    display: flex;
    flex-direction: column;
    z-index: 990;
    width: 800px;
    height: 800px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px black;
    background: white;
}

form > .yes{
    background: none;
    outline: none;
    border: none;
    color: green;
    margin-top: 0px;
    margin-right: 450px;
    display: flex;
    cursor: pointer;
    transition: 0.1s background ease-in;
}

form > .no{

    display: flex;
    cursor: pointer;
    margin-top: -120px;
    margin-right: -450px;
    transition: 0.1s background ease-in;
}

.Background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 980;
    top: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6c567b;
    opacity: 0.8;
}

form{
    margin-left: 10%;
    position: absolute;
    top: 20%;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 990;
    width: 800px;
    height: 600px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px black;

    background: white;
}

form > button{
    padding-top: 20px;
    background: none;
    outline: none;
    border: none;
    color: black;
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    display: flex;

    cursor: pointer;
    transition: 0.1s background ease-in;
}
form > .subm{
    padding-top: 20px;
    background: none;
    outline: none;
    border: none;
    color: black;
    margin-left: -300px;
    margin-top: 50px;
    font-size: 1.5rem;
    display: flex;
    cursor: pointer;
    transition: 0.1s background ease-in;
}
form > .cancel{
    padding-top: 20px;
    background: none;
    outline: none;
    border: none;
    color: red;
    margin-left: 300px;
    margin-top: -100px;
    font-size: 1.5rem;
    display: flex;
    cursor: pointer;
    transition: 0.1s background ease-in;
}
form > .Presee{
    background-color: #efefef;
    width: 450px;
    height: 450px;
    max-width: 450px;
    max-height: 450px;
    object-fit:fill;
}

.ChallengeCerts{
    margin-left: -120px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px black;
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 700px;
    height: 200px;
}

.add-button{
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    bottom: 0;
    z-index: 100;
    width: 100px;
    height: 100px;
    cursor: pointer;
    font-size: 5rem;
    color: black;
  }
  .add-button2{
    margin-top: auto;
    margin-left: 40px;
    margin-bottom: auto;
    margin-right: auto;
    bottom: 0;
    z-index: 100;
    width: 100px;
    height: 100px;
    cursor: pointer;
    font-size: 5rem;
    color: black;
  }
.certimage{
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}


.Border{
    width: 400px;
    height: 600px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px black;
    margin-left: 30px;
}
.Na{
    margin-left: -500px;
    margin-top: -100px;
}
form{
    margin-left: 10%;
    position: absolute;
    top: 20%;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 990;
    width: 1200px;
    height: 1000px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px black;

    background: white;
}

.Chart{
    display: flex;
    align-items: flex-start;
    margin-left: -50px;
    margin-top: 150px;
}

.Todo{
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    font-size: 1.3rem;
}
.Todos+.Todos{
    margin-top: 50px;
}


.Border{
    width: 400px;
    height: 600px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px black;
    margin-left: 30px;
}
.Na{
    margin-left: -500px;
    margin-top: -100px;
}
form{
    margin-left: 10%;
    position: absolute;
    top: 20%;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 990;
    width: 1200px;
    height: 1000px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px black;

    background: white;
}

.Chart{
    display: flex;
    align-items: flex-start;
    margin-left: -50px;
    margin-top: 150px;
}


.ChallengeDays{
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.ChallengeDays + .ChallengeDays{
    margin-left: 15px;
}

.content{
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
}

.Template{
    max-width: 1440px;
}


.ChallengeName{
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    color: black;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px black;
    width: 800px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    white-space: pre-wrap;
}

.Challimg{
    width: 600px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.Template1{
    margin-top: 60px;
    margin-left: 30px;
}

.Myname{
    display: flex;
    align-items: flex-start;
    font-size: 13px;
    color: black;
}

.Name{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.Challenge-days{
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
}




.Myname + .Myname{
    margin-top: 50px;
}

.Myname + .Myname .Challenge-days{
    margin-left: 0px;
}


.Template2{
    margin-top: 50px;
    margin-left: 50px;
    max-height: 300vh;
    max-width: 100vh;
}
.title{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #6c567b;
}

.Template2 + .Template3{
    margin-top: -280px;
    margin-left: 850px;
}
.Template3{

    max-height: 100vh;
    max-width: 100vh;
    
}





.TodoItem{
    margin-left: auto;
    margin-right: auto;

    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px black;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.TodoItem + .TodoItem{
    margin-top: 15px;
}


.content svg{
    font-size: 1.5rem;
    color: black;
}

.content .text{
    margin-left: 0.5rem;
    flex: 1;
}

.content .checked .text{
    color: #6c567b;
    text-decoration: line-through;
    cursor: pointer;
    opacity: 0.6;
}

.TodoList{
    width: 600px;
    margin-right: auto;
    padding-bottom: 20px;
}


